@import "src/shared/theme/variables.module";

.file {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #FF4B00;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr;
  align-items: center;
  cursor: pointer;
}

.file:hover {
  background-color: $background-color-hover;
}

.icon_file {
  justify-self: center;
}

.file_name {
  grid-column-start: 2;
  justify-self: center;
}

.file_date {
  grid-column-start: 3;
  justify-self: center;
}

@media (max-width: 450px) {
  .file_date{
    display: none;
  }
}

.file_size {
  grid-column-start: 4;
  justify-self: center;
}

.text {
  font-size: 16px;
  font-weight: 400;
}

.file_icon {
  width: 20px;
  height: 20px;
}

.file_icon:hover {
  fill: $background-color-hover
}