.grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-area: 2 / 2 / 3 / 3;
}