@import "../../../shared/theme/variables.module";
$action-border-radius: 8px;

.block {
  display: flex;
  gap: 45px;
  width: 700px;
}

.actions {
  display: flex;

  button {
    border: 1px solid $primary-color;
    padding: 10px 15px;
    background: none;
    cursor: pointer;
    transition: 0.3s;

    p {
      font-size: 16px;
      font-weight: 500;
      color: $primary-color
    }
  }

  button:hover {
    background: $background-color-hover;
  }

  button:first-child {
    border-top-left-radius: $action-border-radius;
    border-bottom-left-radius: $action-border-radius;
    border-right: none;
  }

  button:last-child {
    border-top-right-radius: $action-border-radius;
    border-bottom-right-radius: $action-border-radius;
  }
}